*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo{
    width: 35px;
    margin-top: -3px;
}

.collapse{
    font-size: larger;
}

.font{
    font-family: "Monoton", sans-serif;
    font-weight: 500;

}